In [123]:
import numpy as np
import pandas as pd
from urllib.request import urlopen
import gzip
import os

In [124]:
docword_file_base_name = 'docword.{}.txt.gz'
unzipped_docword_file_base_name = 'docword.{}.txt'
vocab_file_base_name = 'vocab.{}.txt'

def check_file_existence(path):
    found = os.path.isfile(path)
    
    if not found:
        print("File {} not found.".format(path))
    return found

def get_vocabulary_data_set(requested_dataset, \
               base_url='https://archive.ics.uci.edu/ml/machine-learning-databases/bag-of-words/'):
    
    for data_set in requested_dataset:
        
        # Vocabulary file.
        with urlopen(base_url + vocab_file_base_name.format(data_set)) as response:
            data = response.read()
            encoding = response.headers.get_content_charset('utf-8')
            text = data.decode(encoding).splitlines() 

    # Load the vocabulary into the dataframe.
    df = pd.DataFrame(data=text, columns=['word'])

    # Shift the index by one.
    df.index += 1

    # Rename the index column.
    df.index.name='word_id'
    
    return df

In [125]:
# Check if the docword exists in the specific folder.

folder_name = 'docword_files/'
file_name = unzipped_docword_file_base_name.format('enron')
path = folder_name+file_name
check_file_existence(path)

True

In [126]:
requested_dataset = ['enron']

# Get the dataset.
df_vocab = get_vocabulary_data_set(requested_dataset)

In [127]:
df_vocab.head()

               word
word_id
1               aaa
2              aaas
3           aactive
4        aadvantage
5             aaker

In [128]:
df_vocab.size

28102

In [129]:
def get_docword_data_set(data_set_name):
    folder_name = 'docword_files/'
    file_name = unzipped_docword_file_base_name.format(data_set_name)
    path = folder_name+file_name
    index = 0
    
    info = dict()
    
    if check_file_existence(path):
        print('File found')
        with open(path, 'rb') as file:
            for line in file:
                line = line.decode('utf-8').splitlines()[0]
                if index == 0:
                    info['docs_num'] = line
                elif index == 1:
                    info['words_num'] = line
                elif index == 2:
                    info['non_zero_num'] = line
                else:
                    break
                index += 1
    
    # Now load the rest of the file.
    df = pd.read_csv(path, sep=" ", header=None, skiprows=[0,1,2])
    df.columns = ["document_id", "word_id", "count"]
            
    return info, df

In [130]:
info,df_docword = get_docword_data_set('enron')

File found

In [131]:
info

{'docs_num': '39861', 'words_num': '28102', 'non_zero_num': '3710420'}

In [153]:
df_docword['count'].size # // 3710420

3710420

In [115]:
df_vocab.head()

               word
word_id
1               aaa
2              aaas
3           aactive
4        aadvantage
5             aaker

In [116]:
merged = pd.merge(df_vocab, df_docword, left_index=True, right_on='word_id')

In [117]:
merged

           word  document_id  word_id  count
95356       aaa         1684        1      1
142343      aaa         2093        1      1
147317      aaa         2182        1      1
152649      aaa         2281        1      1
173685      aaa         2609        1      1
263217      aaa         4225        1      1
387270      aaa         5257        1      1
387511      aaa         5263        1      1
387851      aaa         5267        1      1
433995      aaa         5900        1      1
491558      aaa         6485        1      9
894742      aaa        13483        1      1
1001082     aaa        15240        1      1
1609487     aaa        23174        1      1
1796448     aaa        24995        1      1
1857363     aaa        25593        1      2
1938592     aaa        26309        1      1
2172934     aaa        28054        1      2
2459533     aaa        29834        1      1
2490048     aaa        30007        1      1
2848466     aaa        32104        1      5
3161129     aaa        33950        1      1
3205193     aaa        33978        1      1
3413002     aaa        35486        1      1
3413965     aaa        35503        1      1
3417229     aaa        35583        1      1
3442010     aaa        35973        1      1
3603479     aaa        38073        1      1
3673837     aaa        39083        1      1
491559     aaas         6485        2      8
...         ...          ...      ...    ...
2029886  zurich        27170    28101      1
2049115  zurich        27311    28101      1
2063922  zurich        27469    28101      1
2078573  zurich        27597    28101      1
2084715  zurich        27632    28101      1
2106975  zurich        27747    28101      1
2437062  zurich        29663    28101      1
2629220  zurich        30814    28101      1
2838863  zurich        32053    28101      5
2891971  zurich        32330    28101      1
2940574  zurich        32653    28101      5
2960271  zurich        32785    28101      1
3051930  zurich        33438    28101      1
3087751  zurich        33620    28101      5
3135043  zurich        33932    28101      1
3243803  zurich        34018    28101      1
3622247  zurich        38350    28101      2
1523261  zycher        22336    28102      1
1605346  zycher        23134    28102      3
1797402  zycher        24995    28102      3
2144136  zycher        27909    28102      1
2256970  zycher        28485    28102      1
2422021  zycher        29569    28102      2
2623434  zycher        30794    28102      1
2643081  zycher        30889    28102      1
2675342  zycher        31033    28102      1
2805364  zycher        31812    28102      2
2828556  zycher        31985    28102      1
2974606  zycher        32899    28102      1
3121927  zycher        33854    28102      3

[3710420 rows x 4 columns]

In [162]:
merged[merged['word_id'] == 1996].count()

word           10
document_id    10
word_id        10
count          10
dtype: int64

In [161]:
df_docword[df_docword['word_id'] == 1996].count()

document_id    10
word_id        10
count          10
dtype: int64

In [154]:
# merged[merged['word_id'] == 28102]
merged['count'].size

3710420

In [155]:
# df_docword[df_docword['word_id'] == 28102]
df_docword['count'].size

3710420

In [157]:
merged['count'].size - df_docword['count'].size

0